# Ignore compiled classes
/bin/
/target/

# Ignore IDE-specific files (Eclipse, IntelliJ, etc.)
.idea/
*.iml
.vscode/

# Ignore Maven wrapper files (if using Maven wrapper)
.mvn/
mvnw
mvnw.cmd

# Ignore log files
*.log

# Ignore temporary files
*.tmp

# Ignore txt files
*.txt
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*
